<div class="grid grid-cols-6 gap-4">
  @if (photos().length > 0) {
    @for (photo of photos(); track photo.id) {
      <div>
        <img src="{{ photo.url }}" class="img-thumbnail p-1" alt="user image" />

        <div class="flex w-full gap-3">
          <button class="btn btn-success grow" (click)="approvePhoto(photo.id)">Approve</button>
          <button class="btn btn-error grow" (click)="rejectPhoto(photo.id)">Reject</button>
        </div>
      </div>
    }
  } @else {
    <span>No photos for approval</span>
  }
</div>
